<!DOCTYPE html>
<html>
<head>
<!--
<?xml version="1.0" encoding="UTF-8"?>
<WISPAccessGatewayParam
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.wballiance.net/wispr/wispr_2_0.xsd">
    <Redirect>
       <MessageType>100</MessageType>
       <ResponseCode>0</ResponseCode>
       <VersionLow>2.0</VersionLow>
       <VersionHigh>2.0</VersionHigh>
       <AccessLocation>isocc=za,cc=27,ac=12,network=Bitmesh</AccessLocation>
       <AccessProcedure>1.0</AccessProcedure>
       <LocationName>BitMesh</LocationName>
       <LoginURL>http://54.94.132.0</LoginURL>
       <AbortLoginURL>http://54.94.132.0</AbortLoginURL>
    </Redirect>
</WISPAccessGatewayParam>
-->



  <title>Totem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



	<div class="container navbar">
		<div class="navblock pull-left"><%= link_to "Inscriptions", root_path %></div>
	</div>


	<div class="container navbar">
		<div class="flash">
			<% if flash[:notice] %>
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:notice] %>
				</div>
			<% elsif flash[:error] %>
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:error] %>
				</div>
			<% elsif flash[:alert] %>
				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:alert] %>
				</div>
			<% end %>
		</div>
	</div>
<%= yield %>

</body>
</html>
